[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ["amazon", "docker"], version = "*"}
typing = "*"
s3fs = "*"
pandas = "*"
pyopenssl = "*"

[dev-packages]

[requires]
python_version = "3.11"
